<footer class="text-center text-white auto-bottom bg-dark" style="padding:10px;" >
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="d-flex">
      <a  href="/bmi/" style="margin:20px 70px;color:#fff;text-decoration:none;">Calculate BMI</a>

    <a href="/index/" style="margin:20px 70px;color:#fff;text-decoration:none;">See Weather condition</a>

  <a href="/register/" style="margin:20px 70px;color:#fff;text-decoration:none;">Register</a>

  <a href="/contactus/" style="margin:20px 70px;color:#fff;text-decoration:none;">Contact us</a>

      <a href="/aboutus/" style="margin:20px 70px;color:#fff;text-decoration:none;">About Us</a>
    </div>
    <br>
    <div class="m-4">
      <a href="#" style="margin-right:100px;color:#fff;text-decoration:none;"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.linkedin.com/in/himanshu-sharma-b452b7198" style="margin-right:50px;color:#fff;text-decoration:none;"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="https://github.com/himanshu-s5" style="margin-left:50px;color:#fff;text-decoration:none;"><i class="fa-brands fa-github"></i></a>
    </div>
    © 2022 Copyright:
  </div>

</footer>