
{% include 'header.html' %}
{%load static%}
<style>
    textarea{height: 146px;background-color:white;border:5px solid #fff;}
    form{border:5px solid lightblue;padding:20px;}
</style>
{%if user.is_authenticated%}
<div class="carousel-inner" style="margin-bottom:20px;">
    <div class="carousel-item active">
      <img src="{%static 'img/photo12.png'%}"class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
    <form method="post" action="" enctype="multipart/form-data" style="margin:50px;border:none">
        {% csrf_token %}
        <h2>Upload your own Galary</h2>
        {{form.as_p}}
        <button class="btn btn-primary" type="submit">Upload</button>
    </form>
</div>
    </div>
    </div>
{%else%}
<h2 class="text-center m-2">Please Sign in to upload your own gallery content</h2>
{%endif%}
<hr style="border:2px solid black;">
{%if imagedb is not None%}
{%for x in imagedb%}
<div class="card" style="width:500px;display:inline-flex;margin-left:80px;">
  <img  style="height:300px;padding:10px;" src="{{x.image.url}}" class="card-img-top" alt="{{x.image}}">
  <div class="card-body">
      <p class="card-text">{{x.text}}</p>
  </div>
</div>

{%endfor%}
{%endif%}
<hr style="border:2px solid black;">

{%include 'footer.html'%}