{%include 'header.html'%}
{%load static%}
<div class="container" style="text-align:center">
<img  style="width:50%; height:300px;margin:20px;padding:20px;" src="{%static 'img/photo8.png'%}">
    <div style="font-style:san-serif;text-align:left;">

        <p>Weather forecasting is the application of science and technology to predict the state of the atmosphere for a future time and a given location. Human beings have attempted to predict the weather informally for millennia, and formally since at least the nineteenth century.[30] Weather forecasts are made by collecting quantitative data about the current state of the atmosphere and using scientific understanding of atmospheric processes to project how the atmosphere will evolve.</p>

Once an all-human endeavor based mainly upon changes in barometric pressure, current weather conditions, and sky condition,[32][33] forecast models are now used to determine future conditions.
        <p>On the other hand, human input is still required to pick the best possible forecast model to base the forecast upon, which involve many disciplines such as pattern recognition skills, teleconnections, knowledge of model performance, and knowledge of model biases.</p>
        <br>

<p>The chaotic nature of the atmosphere, the massive computational power required to solve the equations that describe the atmosphere, the error involved in measuring the initial conditions, and an incomplete understanding of atmospheric processes mean that forecasts become less accurate as of the difference in current time and the time for which the forecast is being made (the range of the forecast) increases. The use of ensembles and model consensus helps to narrow the error and pick the most likely outcome.</p>
        <br>

<p>There are a variety of end users to weather forecasts. Weather warnings are important forecasts because they are used to protect life and property. Forecasts based on temperature and precipitation are important to agriculture,and therefore to commodity traders within stock markets. Temperature forecasts are used by utility companies to estimate demand over coming days.</p>

    </div>
</div>


{%include 'footer.html'%}