{%include 'header.html'%}
{%load static%}

<div class="container" style="text-align:center">
<img  style="width:50%; height:300px;margin:20px;padding:20px;" src="{%static 'img/photo7.jpg'%}">
<div style="font-style:san-serif;text-align:left;">
    <p>Effects on populations

        New Orleans, Louisiana, after being struck by Hurricane Katrina. Katrina was a Category 3 hurricane when it struck although it had been a category 5 hurricane in the Gulf of Mexico.</p>
    <p>The weather has played a large and sometimes direct part in human history. Aside from climatic changes that have caused the gradual drift of populations (for example the desertification of the Middle East, and the formation of land bridges during glacial periods), extreme weather events have caused smaller scale population movements and intruded directly in historical events. One such event is the saving of Japan from invasion by the Mongol fleet of Kublai Khan by the Kamikaze winds in 1281.French claims to Florida came to an end in 1565 when a hurricane destroyed the French fleet, allowing Spain to conquer Fort Caroline.More recently, Hurricane Katrina redistributed over one million people from the central Gulf coast elsewhere across the United States, becoming the largest diaspora in the history of the United States.</p>

<p>The Little Ice Age caused crop failures and famines in Europe. During the period known as the Grindelwald Fluctuation (1560-1630), volcanic forcing events seem to have led to more extreme weather events.These included droughts, storms and unseasonal blizzards, as well as causing the Swiss Grindelwald Glacier to expand. The 1690s saw the worst famine in France since the Middle Ages. Finland suffered a severe famine in 1696–1697, during which about one-third of the Finnish population died.</p>
    <br>
</div>
    </div>

{%include 'footer.html'%}